- content_for :page_title do
  = Spree.t(:editing_vendor)

- content_for :page_actions do
  li= button_link_to Spree.t(:back_to_vendors_list), admin_vendors_path, :icon => 'arrow-left'

= form_for [:admin, @vendor], :method => :put, :html => { :multipart => true } do |f|  
  = render :partial => 'form', :locals => { :f => f }
  
  div class="right eight columns omega" data-hook="admin_vendor_images_right"    
    fieldset class="no-border-bottom"
      legend class='center' Existing Images         
      - @vendor.vendor_images.each do |vendor_image|
        - unless vendor_image.new_record?
          div.eight.columns
            = image_tag vendor_image.image.url(:small), height: 100
            = link_to "(Delete)", delete_vendor_image_admin_vendor_url(@vendor, image: vendor_image)    

  .clear
  = render :partial => 'spree/admin/shared/edit_resource_links'

.clear
