<% content_for :page_title do %>
  <%= Spree.t(:vendors) %>
<% end %>
<% content_for :page_actions do %>
  li= button_link_to 'New Vendor', spree.new_admin_vendor_path, :icon => 'add'
<% end %>
<% if @vendors.any? %>
  table.index data-hook="vendors_table"
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_vendors_found) %>
    br
    <%= link_to Spree.t(:add_one), spree.new_admin_vendor_path %>
  </div>
<% end %>
