.toolbar
  ul.actions
    li
      = button_link_to 'New Vendor', spree.new_admin_vendor_path, :icon => 'add'
  br.clear/
h1 Vendors
h4 This is where you manage your vendors

table.index data-hook="vendors_table"
  thead
    tr
      th Name      
      th Taxonomy  
      th Logo    
      th Available At
      th
  tbody
    - @vendors.each do |vendor|
      tr data-hook="vendors_row" id=spree_dom_id(vendor) 
        td
          = vendor.name
        td
          = vendor.vendor_taxons.map{|i|i.taxon.name}.join(',')
        td
          = image_tag vendor.logo.url(:small) if vendor.logo.exists?
        td
          = vendor.available_at
        td
          = link_to Spree.t("actions.edit"), edit_admin_vendor_url(vendor)
          = "&nbsp;".html_safe
          = link_to Spree.t("actions.delete"), admin_vendor_url(vendor), :method => :delete, :confirm => 'Are you sure'
