h1 New Vendor

= semantic_form_for(@vendor, :url => admin_vendors_url, :html => { :multipart => true }) do |f|

  = render :partial => 'form', :locals => { :f => f }
  p
    = submit_tag Spree.t('actions.create')
    | or
    = link_to Spree.t('actions.cancel'), admin_vendors_url
